<div class="ui container">
    <div class="ui secondary  menu">
        <a class="item" href="/">主页 </a>
        <a class="item" href="/tags">标签</a>
        <a class="item" href="/archives">存档 </a>
        <a class="item" href="/about">关于</a>
        <div class="right menu">
            <div class="item">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="搜索..." />
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>
</div>