<%- partial('_partial/header') %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <%- page.title %>
    </h2>
    <div class="content markdown-body">
        <%- page.content %>
    </div>
</div>